.navigation{
  grid-area: n;
  background-color: rgb(16, 33, 43);
  min-height: 744px;
  padding: 20px;
}
.item {
  font-size: 5ch;
  color: rgb(239, 251, 219);
  text-decoration: none;

}
.active{
  color:rgb(220,219, 255);
  font-size: 6ch;
}
.friend{
  margin-top: 50px;
}
.BestFriends{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin-top: 20px;
}